<% if notice.present? || alert.present? %>
  <div data-controller="dismissible" class="toast toast-end">
    <% if notice.present? %>
      <div class="alert alert-info">
        <button data-action="dismissible#dismiss" class="btn btn-circle btn-xs btn-ghost float-right">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
          </svg>
        </button>
        <span><%= notice %></span>
      </div>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="toast toast-end">
        <div class="alert alert-danger">
          <button data-action="dismissible#dismiss" class="btn btn-circle btn-xs btn-ghost float-right">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
          </button>
          <span><%= alert %></span>
        </div>
      </div>
    <% end %>
<% end %>

