<p style="color: green"><%= notice %></p>

<h1>Meals</h1>

<div id="meals">
  <ul>
    <% @meals.each do |meal| %>
      <li>
        <%= link_to meal.name, meal %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "New meal", new_meal_path %>
